@import 'node_modules/node-normalize-scss/_normalize.scss';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
$aqua: #7FDBFF;
$navy: #001f3f;
$red: #FF4136; 

*{
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: $aqua;
  color: $navy; 
  margin: 0px;
  padding: 0px;
}
  
select, input, button{
  border-width: 0px;
  outline: none;
}

.h1--title{
  font-size: 45px;
  background-color: yellow;
  border-radius: 0px;
  margin-top: 10px;
  padding: 15px;
}

.h2--settings{
  color: $red;
}

.div--break, .div--session{
  border: 3px solid white;
  padding: 10px;
  display: inline-block;
  margin: 50px 20px 0px 20px;
  font-size: 15px;
  user-select: none;
}

.p--settings{
  margin: 15px;
  font-size: 25px;
}

.b--operation{
  background-color: $aqua;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
}

.b--min, .s--min{
  position: relative;
  top: -10px;
}

.div--etc{
  border: 3px solid white;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

.b--reset{
  color: $navy;
  background-color: $aqua;
  font-size: 30px;
  padding: 20px;
  padding-left: 10px;
  border-right: 3px solid white; 
  border-radius: 0px;
}

.h2--type{
  display: inline;
  color: $red;
  font-size: 30px;
  margin-left: 10px;
}

.b--timer{
  text-align: center;
  margin: 50px;
  margin-left: 35px;
  border: 5px solid $red;
  display: inline-block;
  font-size: 30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: $red;
  background: none;
  transition: 0.6s;
}

.p--timer{
  margin-top: 20px;
  font-size: 40px;
}


@media (max-width: 400px){
  .h1--title{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
  }
  .div--break, .div--etc{
    margin-top: 15px;
    margin-bottom: -30px;
  }
  .div--etc{
    width: 232px;
  }
  .h2--settings{
    font-size: 20px;
  }
  .h2--type, .b--reset{
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .b--timer{
    border-radius: 0px;
    padding: 15px 50px 15px 50px;
    margin: 0 auto;
    margin-top: 40px;;
    width: auto;
    height: auto;
  }
}
